<style>
.featured_image .button_holder
{
	border-width:1px;
	border-style:solid;
	padding:3px 6px;
	float:left;
}

div.wrapper
{
	width:954px;
}

</style>

    

<%= javascript_include_tag 'fader' %>
  <div id="header" >
    <div class="wrapper">	
	<div class="fadeWrapper">
     		<a id="inline_fancybox" href="#info_dialog">
			<% @male_profile.profile_images.each do |image|%>
			<div class="fadeHolder"> <%= image_tag image.photo.url(:large), :id=>"male_profile_image" %> </div>
		 	<% end %>   
		
       		</a>
      </div>
    </div>
  </div>
	
  <div id="contentContainer">
    
    <div id="content">
	
		
		<div class="featuredTitleContainer"><div class="hr1"><hr /></div>About Us<div class="hr2"><hr /></div></div>
      <br/>
      <p>  ODD is the simplest dating site out here.  Each day we display a profile of ONE member of each sex. There will be some pictures, a little info, and maybe a blurb.  
      <br /><br/>


	  <div class="featuredTitleContainer"><div class="hr1"><hr /></div>How it works<div class="hr2"><hr /></div></div>
      <br/>
	  If you like our dater of the day, click the email button, and you will be able to send them an email.  We do believe in the privacy and our Creeper Protection Department has developed a system whereby each dater is assigned an anonymous email.  When we receive email at that address, we will forward it on to our date-of-the-day for exactly one week.  After that, you blew it or s/he doesn't like the sound of you.  Don't worry though, there will be another willing dater tomorrow, and the next day.   </p>
	<br/>
      <div class="servicesBoxs">

      </div>
    </div>





	
    <div id="sidebar">
      <div class="sidebarBox">
        <div class="sidebarTitile">
          <h2> Recent Daters </h2>
        </div>
        <div class="sidebarMenu" id="sidebarRecent">
		  <% @recent_daters.each do |dater|%>
		  <div class="recent_photo"><%= image_tag dater.profile_images[0].photo.url(:small) %></div>
          <h4><a href="#"><%= dater.first_name%> <%= dater.last_name%></a></h4>
          <span class="info"><a href="#"> <%= dater.updated_at.strftime('%d %b %Y') %> </a></span>
          <div class="bubble"></div>
          <span class="info"><a href="#">12 Comments </a></span>
          <hr />
		 <% end %>
        </div>
        <div class="sidebarTitile">
          <h2>Buzz</h2>
        </div>
        <div class="sidebarMenu" id="sidebarBuzz">
          <ul>
				
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

	<!--
	<div id="featured_male_profile" class="featured_image center">
		<div class="profile_picture">
		<%= image_tag @male_profile.profile_images[0].photo.url(:large), :id=>"male_profile_image" %>

		<div class="button_holder">
		<%= link_to image_tag("twitter-bird3-square-webtreatsetc.png", :size =>'35x35',:border=>0), @male_profile.twitter, :class => 'twitter_button left'%> <br/>
		<%= link_to image_tag("myspace-logo-square2-webtreatsetc.png", :size =>'35x35',:border=>0), @male_profile.myspace_url, :class => 'myspace_button left'%> <br/>
		<%= link_to image_tag("facebook-logo-square-webtreatsetc.png", :size =>'35x35',:border=>0), @male_profile.facebook_url, :class => 'myspace_button left'%><br/>

		</div>
		</div>
	</div>

	<div id="featured_female_profile" class="featured_image right">
		<div id = "female_profile_picture" class="left">
		<%= image_tag @female_profile.profile_images[0].photo.url%>

		</div>
		<div class="button_holder left">

		</div>
	</div>
	-->
		<div style="display:none">
		
		<div id="info_dialog">
		<div class="info_dialog_photo">
			<%= image_tag @male_profile.profile_images[0].photo.url(:small) %>
		</div>
		<div class="info_dialog_text">
			<p>Name: <%= @male_profile.first_name %> <%= @male_profile.last_name%></p>	
			<p>Birthday: <%= @male_profile.birth_date %></p>
			<p>About: <%= @male_profile.about_me%> </p>
			<p>Hair: <%= @male_profile.hair_color%></p>
			<p>Eyes: <%= @male_profile.eye_color%></p>
			<p>Height: <%= @male_profile.height%></p>
		</div>
		</div>

	<script>
	$(document).ready(function() {
	    var twurl = 'http://search.twitter.com/search.json';
	    $.ajaxSetup({ cache: true });
	    $.getJSON(
	        twurl + '?callback=?&rpp=5&q=OneDateDaily',
	        function(data) {
	            $.each(data.results, function(i, tweet) {
	                if (tweet.text !== undefined) {
	                    var date_tweet = new Date(tweet.created_at);
	                    var date_now = new Date();
	                    var date_diff = date_now - date_tweet;
						var fromTweeter = tweet.from_user;
	                    var hours = Math.round(date_diff/(1000*60*60));
	                    var tweet_html = '<li>';
	                    tweet_html += '<a href="http://www.twitter.com/';
	                    tweet_html += fromTweeter +'/status/' +tweet.id +'">';
	                    tweet_html += tweet.text + '</a></div>';
	                    tweet_html += '<span class="info">' + tweet.from_user + ' - ' + hours;
	                    tweet_html += ' hours ago</span><hr/></li>';
	                    $('#sidebarBuzz ul').append(tweet_html);
	                }
	            });
	        }
	    );
	

	
	});
	
	</script>


</div>

